*.d
*.o
*.gz
*.bz2
core
demotool
tool/main
common/common.a
*/renderer.so
gospace/gospace
depthpeeling/depthpeeling
nonrealistic/nonrealistic
nonrealistic/asmtree
nonrealistic/sdlsmall
nonrealistic/smalltree
